.movie-col {
    /* width: 20%; */
    flex-grow: 1;
    flex-basis: 200px;
}


.movie-card {
    background-color: rgb(224, 224, 224);
    border-radius: 16px 16px 0 16px;
}

.poster-con img {
    border-radius: 16px;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.movie-title {
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
    margin: 0 auto;
}

.poster-con {
    /* existing styles */
    position: relative;
    /* Needed for overlay positioning */
}

.badge {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.poster-con:hover .img-overlay {
    opacity: 1;
    /* Show overlay on hover */
}

.overlay-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.overlay-link:hover {
    background-color: white;
    color: black;
}