
img{
    max-width: 100%;
}

.p-relative{
    position: relative;
}

.main-container{
    background-color: rgb(21, 21, 21);
}

.hero-container{
    min-height: 100vh;
    max-height: 1000px;
    /* overflow: hidden; */
}

.hero-background{
    position: absolute;
    inset: 0;
    background-size: cover;

}

.reasons .card{
    background: linear-gradient( 149deg, #192247 0%, #210e17 96.86%);
}

/* linear-gradient(
                    149deg,
                    #192247 0%,
                    #210e17 96.86%
                ) */