@tailwind base;
@tailwind components;
@tailwind utilities;

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.main-wrapper{
  display: grid;
  /* gap: 14px; */
  grid-template-columns: 60px 1fr;
  height: 100vh;
  min-height: 500px;
  max-width: 1500px;
  margin: 0 auto;
}

.main-content{
  overflow-y: auto;
  overflow-x: hidden;
}

.app-header{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

/* .background{
  background-image: url(../public/home.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
} */
/* .book{
  background-image: url(../public/bookmark.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  width: 60%;
} */
/* .trending{
  background-image: url(../public/trending.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.857);
  height: 80vh;
  width: 100%;
} */
/* .top{
  background-image: url(../public/top\ rated.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.857);
  height: 80vh;
  width: 100%;
} */
/* .series{
  background-image: url(../public/series.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.857);
  height: 80vh;
  width: 100%;
} */
.logo{
  height: 40px;
  width: 50px;
  border-radius: 20px;
}