@tailwind base;
@tailwind components;
@tailwind utilities;

body, p {
  font-family: "Poppins", serif; /* Apply Lora font to body text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font to headings */
}


body{
  background-color: #000;
}

.main-wrapper{
  display: grid;
  /* gap: 14px; */
  grid-template-columns: 60px 1fr;
  height: 100vh;
  min-height: 500px;
  max-width: 1500px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .main-wrapper{
    grid-template-columns: 50px 1fr;
  }
}

.main-content{
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content::-webkit-scrollbar {
  display: none;
}

/* .app-header{
  background-color: #000;

} */

.logo{
  height: 40px;
  width: 50px;
  border-radius: 20px;
}